{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Registration</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="{% static 'registration/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css' %}" />
		
		<!-- STYLE CSS -->
		<link rel="stylesheet" href="{% static 'registration/css/style.css' %}" />
	</head>

	<body>

		<div class="wrapper">
			<div class="inner">
				<form action="{% url 'home:add_user' %}" method="POST">
					{% csrf_token %}
					<h3>Register Yourself</h3>
					<p></p>
					<label class="form-group">
						<input type="text" name="username" class="form-control"  required>
						<span>Username</span>
						<span class="border"></span>
					</label>
					<label class="form-group">
						<input type="password" name="password" class="form-control"  required>
						<span for="">Password</span>
						<span class="border"></span>
					</label>
					<!-- <label class="form-group" >
						<textarea name="" id="" class="form-control" required></textarea>
						<span for="">Your Message</span>
						<span class="border"></span>
					</label> -->
					<button>Register 
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
				</form>
			</div>
		</div>
		
	</body>
</html>